*{margin: 0 auto;
font-size: 13px;
padding: 0}
table{
  width: 700px;
}
table tr, td{
	border-bottom: 1px solid #7dabd0;
}
td{
  padding: 5px;
}
input[type="checkbox"]{
  display:block;
  text-align: center;
  transform: scale(1.5);
}
th{
	background: #7dabd0;
	color: white;
  padding: 15px;
}
.tt	{
	width: 700px;
	height: 23px; /*주의*/
	text-align: right;
	padding-top: 100px;
}
#delete{
	float: left;
	width: 70px;
	height: 20px;
	background-color: #f58970;
	border: 1px solid #f52600;
}
#delete:active{
	background:#f52600;
	color: white;
}
hr{
	width: 100px;
	float: right;
}
.dcell{
  padding: 1px;
}
