*{
  margin: 0 auto;
  /* padding: 0; */
  font-size: 13px;
}
table{
  width: 1000px;
}
table tr, td{
	border-bottom: 1px solid #7dabd0;
}
td{
  padding: 5px;
}
input[type="checkbox"]{
  display:block;
  text-align: center;
  transform: scale(1.5);
}
input[type="search"]{
  float: left;
  /* margin-left: 10px; */
}
button[type="button"]{
  float: left;
}
th{
	background: #7dabd0;
	color: white;
  padding: 15px;
}
.tt{
	width: 1000px;
	height: 23px; /*주의*/
	text-align: right;
	padding-top: 100px;
}
#delete{
	float: left;
	width: 70px;
	height: 20px;
	background-color: #f58970;
	border: 1px solid #f52600;
}
#delete:active{
	background:#f52600;
	color: white;
}
#dvar>hr{
	width: 100px;
	float: right;
}
#combo{
  float: left;
  margin-left: 10px;
}
#inputsearch{
  float: left;
  /* 여기 margin 안주면 형태 흐트러짐  */
  margin-left: 10px;
  margin-right: 10px;
}
#inputcheck{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#box_text{
  float: left;
  margin-left: 10px;
}
